<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <!--
            ****** NAVIGATION WIDGET *******
            -->
         <div id="nav-widget" class="btn-group btn-group-justified black">
            <div class="btn-group">
               <button type="button" class="btn text-uppercase active"><i class="fa fa-map-marker fa-2x"></i> Daily</button>
            </div>
            <div class="btn-group">
               <button type="button" class="btn text-uppercase"><i class="fa fa-bell fa-2x"></i>  Monthly</button>
            </div>
            <div class="btn-group">
               <button type="button" class="btn text-uppercase"><i class="fa fa-user fa-2x"></i>  Yearly</button>
            </div>
            <div class="btn-group">
               <button type="button" class="btn text-uppercase"><i class="fa fa-cog fa-2x"></i>  Custom</button>
            </div>
         </div>
      </div>
   </div>
   
   
   <div class="row">
      <!-- COLUMN ONE -->
      <div class="col-sm-6 col-md-5 ">
        <h3 class="black">Products Sold Today</h3>
     
         <%= pie_chart(@products.group('name').count) %>
         

      </div>
      
      
      <!-- COLUMN TWO -->   
      <div class="col-sm-6 col-md-7">
           <h3>Visits By Day</h3>
          <%= bar_chart(@products.map { |m| [m.name, m.id] })%>
     
      </div>
   </div>   
   <div class="row">
      <!-- COLUMN THREE -->
      <div class="col-sm-6 col-md-12 ">
          <h3>Most Selled Category</h3>
          <%= line_chart @products.group('date(created_at), name').count, discrete: true %>

      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
          <h3>Todays Locations of users</h3>
         <%= geo_chart ({"India" => 10, "China" => 5, "USA" => 25, "Canada" => 50}) %>
      </div>

   </div>
   <div class="row">
      <div class="col-md-12">
          <h3>Non Interested Products</h3>
         <%= column_chart  (@products.map { |m| [m.name, m.id] }) %>

      </div>

   </div>

</div>



<script type="text/javascript">


$(document).ready(function() {
  

 var pieData = [
                {
                    value: 300,
                    color:"#F7464A",
                    label: 'T-shirts',
                    labelColor : "white",
                    labelFontSize : '16'
                },
                {
                    value: 50,
                    color: "#46BFBD",
                    label: "Formals",
                    labelColor : "white",
                    labelFontSize : '16'
                },
                {
                    value: 100,
                    color: "#FDB45C",
                    label: "Jeans",
                    labelColor: "white",
                    labelFontSize: '16'
                }
        ];

   
       // Get the context of the canvas element we want to select
        var chart1= document.getElementById("myChart").getContext("2d");
        new Chart(chart1).Pie(pieData);



var barData = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 86, 27, 90]
        }
    ]
};

var myBar = new Chart(document.getElementById("myChartBar").getContext("2d")).Bar(barData);




var Linedata = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 86, 27, 90]
        }
    ]
};

var myLine = new Chart(document.getElementById("myChartLine").getContext("2d")).Line(Linedata);




var data = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 86, 27, 90]
        }
    ]
};

//show map
  //jvectormap data
  var visitorsData = {
    "US": 398, //USA
    "SA": 400, //Saudi Arabia
    "CA": 1000, //Canada
    "DE": 500, //Germany
    "FR": 760, //France
    "CN": 300, //China
    "AU": 700, //Australia
    "BR": 600, //Brazil
    "IN": 800, //India
    "GB": 320, //Great Britain
    "RU": 3000 //Russia
  };
  //World map by jvectormap
  $('#world-map').vectorMap({
    map: 'world_en',
    backgroundColor: null,
    color: '#000',
    hoverOpacity: 0.7,
    selectedColor: '#666666',
    enableZoom: true,
    showTooltip: true,
    values: sample_data,
    scaleColors: ['#C8EEFF', '#006491'],
    normalizeFunction: 'polynomial'
  });



    
});//document ends




</script>