
      <div class="col-sm-12">
         <!--
            ****** NAVIGATION WIDGET *******
            -->
         <div id="nav-widget" class="btn-group btn-group-justified black">
            <div class="btn-group ">
               <a href="<%= analysis_index_path%>" data-remote="true" class="btn text-uppercase active analysis_navbtn"> Orders</a>
            </div>
            <div class="btn-group ">
               <a href="<%= analysis_products_path%>" data-remote="true" class="btn text-uppercase analysis_navbtn">  Products</a>
            </div>
            <div class="btn-group ">
               <a href="<%= customer_analysis_analysis_index_path %>" data-remote="true" class="btn text-uppercase analysis_navbtn">  Customers</a>
            </div>
            <div class="btn-group ">
               <a href="<%= personal_analysis_analysis_index_path %>" data-remote="true" class="btn text-uppercase analysis_navbtn">  Personal</a>
            </div>
         </div>

   
   <div id="analysis_data">
   <%= render "index" %>
</div><!--  #analysis_data ends -->

</div>


<script type="text/javascript">


$(document).ready(function() {
  
$("a.analysis_navbtn").click(function(){
$("a.analysis_navbtn").removeClass("active");
$(this).addClass("active");

});



});//document ends




</script>