<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <!--
            ****** NAVIGATION WIDGET *******
            -->
         <div id="nav-widget" class="btn-group btn-group-justified black">
            <div class="btn-group ">
               <a href="<%= analysis_index_path%>" data-remote="true" class="btn text-uppercase active analysis_navbtn"> Orders</a>
            </div>
            <div class="btn-group ">
               <a href="<%= analysis_products_path%>" data-remote="true" class="btn text-uppercase analysis_navbtn">  Products</a>
            </div>
            <div class="btn-group ">
               <a href="<%= customer_analysis_analysis_index_path %>" data-remote="true" class="btn text-uppercase analysis_navbtn">  Customers</a>
            </div>
            <div class="btn-group ">
               <a href="<%= personal_analysis_analysis_index_path %>" data-remote="true" class="btn text-uppercase analysis_navbtn">  Personal</a>
            </div>
         </div>
      </div>
   </div>
   
   <div id="analysis_data">
   <%= render "index" %>
</div><!--  #analysis_data ends -->
</div>



<script type="text/javascript">


$(document).ready(function() {
  
$("a.analysis_navbtn").click(function(){
$("a.analysis_navbtn").removeClass("active");
$(this).addClass("active");

});



 var pieData = [
                {
                    value: 300,
                    color:"#F7464A",
                    label: 'T-shirts',
                    labelColor : "white",
                    labelFontSize : '16'
                },
                {
                    value: 50,
                    color: "#46BFBD",
                    label: "Formals",
                    labelColor : "white",
                    labelFontSize : '16'
                },
                {
                    value: 100,
                    color: "#FDB45C",
                    label: "Jeans",
                    labelColor: "white",
                    labelFontSize: '16'
                }
        ];

   
       // Get the context of the canvas element we want to select
        var chart1= document.getElementById("myChart").getContext("2d");
        new Chart(chart1).Pie(pieData);



var barData = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 86, 27, 90]
        }
    ]
};

var myBar = new Chart(document.getElementById("myChartBar").getContext("2d")).Bar(barData);




var Linedata = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 86, 27, 90]
        }
    ]
};

var myLine = new Chart(document.getElementById("myChartLine").getContext("2d")).Line(Linedata);




var data = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 86, 27, 90]
        }
    ]
};

//show map
  //jvectormap data
  var visitorsData = {
    "US": 398, //USA
    "SA": 400, //Saudi Arabia
    "CA": 1000, //Canada
    "DE": 500, //Germany
    "FR": 760, //France
    "CN": 300, //China
    "AU": 700, //Australia
    "BR": 600, //Brazil
    "IN": 800, //India
    "GB": 320, //Great Britain
    "RU": 3000 //Russia
  };
  //World map by jvectormap
  $('#world-map').vectorMap({
    map: 'world_en',
    backgroundColor: null,
    color: '#000',
    hoverOpacity: 0.7,
    selectedColor: '#666666',
    enableZoom: true,
    showTooltip: true,
    values: sample_data,
    scaleColors: ['#C8EEFF', '#006491'],
    normalizeFunction: 'polynomial'
  });



    
});//document ends




</script>