   <div class="row">
      <div class="col-md-12 ">
        <h3>
          <span class="pull-right">
                    <ul class=" list-unstyled pull-right" style="margin-right: 50px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle menu-item label label-success btn" data-toggle="dropdown" aria-expanded="false"> More</a>
                        <ul class="dropdown-menu well" style="margin-left: -122px;">
                            <li><a href="#"> Montly</a></li>
                            <li><a href="#"> Yearly</a></li>
                            <% if @orders.present?%>
                              <li>
                                <a href="<%= download_pdf_path(:format => 'pdf')%>"> Download PDF</a>
                              </li>
                            <%end%>
                        </ul>
                    </li>
                    </ul>

          </span> 



          Today's Orders </h3>
                   

         <% if @orders.present?%>
            <%= pie_chart(@todays_orders) %>
         <%else%>
         <div style="background: none repeat scroll 0% 0% snow; height: 100px;"> 
          <p class="text-center text-danger pad10">
            <%= "No Orders for today"%>
          </p>  
          </div>  
         <%end%>         

      </div>
    </div><!--  first row ends --> 
      
   <div class="row">
      <div class="col-md-12 ">

                <h3>
          <span class="pull-right">
                    <ul class=" list-unstyled pull-right" style="margin-right: 50px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle menu-item label label-success btn" data-toggle="dropdown" aria-expanded="false"> More</a>
                        <ul class="dropdown-menu well" style="margin-left: -122px;">
                            <li><a href="#"> Paid</a></li>
                            <li><a href="#"> Authorized</a></li>
                            <li><a href="#"> Pending</a></li>
                            <% if @order_financial_status.present?%>
                              <li>
                                <a href="<%= download_pdf_path(:format => 'pdf')%>"> Download PDF</a>
                              </li>
                            <%end%>  
                        </ul>
                    </li>
                    </ul>

          </span> 



          Order Statuses</h3>

         <% if @order_financial_status.present?%>
            <%= column_chart(@order_financial_status) %>
         <%else%>
         <div style="background: none repeat scroll 0% 0% snow; height: 100px;"> 
          <p class="text-center text-danger pad10">
            <%= "No Status"%>
          </p>  
          </div>  
         <%end%>         

      </div>
    </div>  <!-- second row ends -->


   <div class="row">
      <div class="col-md-12 ">
          <h3>Products ordered today</h3>
          <%= column_chart @ordered_products, colors: ["#{rand(10..1000)}", "#999"]  %>

      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
          <h3>Todays Locations of users</h3>
         <%= geo_chart ({"India" => 10, "China" => 5, "USA" => 25, "Canada" => 50}) %>
      </div>

   </div>
   <div class="row">
      <div class="col-md-12">
          <h3>Non Interested Products</h3>
         <%= column_chart  (@products.map { |m| [m.name, m.id] }) %>

      </div>

   </div>

