<style type="text/css">
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.thumbnail {
  padding:0;
}

</style>


    <div class="col-md-8 col-md-offset-2">
       <%= form_tag search_products_path, method: :get,remote:true,class:"form-horizontal" do %>
            <div class="input-group" id="adv-search">
                 <%= text_field_tag :query_first, params[:query_first],class:"form-control",placeholder:"Search product in your shop" %>
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu" style="width: 643px;">
                             <%= form_tag search_products_path, method: :get,remote:true,class:"form-horizontal" do %>
                                  <div class="form-group">
                                    <label for="filter">Filter by</label>
                                    <select class="form-control">
                                        <option value="0" selected>All Snippets</option>
                                        <option value="1">Featured</option>
                                        <option value="2">Most popular</option>
                                        <option value="3">Top rated</option>
                                        <option value="4">Most commented</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Product Name</label>
                                    <%= text_field_tag :query_second, params[:query_second],class:"form-control" %>
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Contains the words</label>
                                    <%= text_field_tag :query_third, params[:query_third],class:"form-control" %>
                                  </div>
                                  <button type="submit" class="btn btn-primary"><span class="fa fa-search" aria-hidden="true"></span> Search</button>
                                <%end%>
                            </div>
                        </div>
                        <button type="commit" class="btn btn-primary"><span class="fa fa-search" aria-hidden="true"></span> Search</button>
                    </div>
                </div>
            </div>
            <%end%>
          </div>
        </div>
        <div id="show_searched_products">

          <% if @products.present?%>
<div class="col-md-12"  style="margin-top: 30px;">
<% @products.each do |p|%>



        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="<%= p[:img_src]%>" style="width: 500px; height: 250px;">
              <div class="caption">
                <h4><%= p[:title]%></h4>
                <p> <small>price:<%= p[:price]%>| <%= p[:vendor].capitalize%></small></p>
               <div class="pad10">
               <a href="#orderModal_<%= p[:product_id]%>" class="btn btn-xs btn-primary" data-toggle="modal" data-id="<%= p[:product_id]%>">Recommend</a>
               <a href="#" class="btn btn-default btn-xs" role="button">Remind me Later</a>
               </div>          
            </div>
          </div>
        </div>

<div id="orderModal_<%= p[:product_id]%>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Recommend <%= p[:title]%></h3>
      </div>
      <div class="modal-body">


        <%= form_for(ProductRecommendation.new,url:recommend_products_path,:html=>{:class=>"form-horizontal pad10"},method:'POST',remote:true) do |f|%>          

                        <div class="form-group">
                    <label for="InputName">Enter any 5 Emails</label>
                    <div class="input-group col-md-12">
                      <%= f.text_field(:recommended_to,:class=>"form-control",:placeholder=>"Enter 5 emails",:required=>true)%>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputMessage">Enter Message</label>
                    <div class="input-group">
                         <%= f.text_area(:message,:class=>"form-control",:placeholder=>"Enter a message",:rows=>4,:cols=>86,:required=>true)%>
                    </div>
                </div>
                <%= hidden_field(:product_recommendation,:product_id,:value=> p[:product_id])%>
                <%= hidden_field(:product_recommendation,:product_name,:value=> p[:title])%>
                <%= hidden_field(:product_recommendation,:recommended_product_image_url,:value=> p[:img_src])%>

    <p>
      <input type="checkbox" id="send_product_description" name="send_product_description" checked />
      <label>Send Product Description</label>
         <span class="pull-right">
      <input type="checkbox" id="send_later"  data-rel="<%= p[:product_id]%>"  class="send_later" name="send_later" unchecked/>
      <label>Send later</label>      
    </span>
    </p>
    <!-- for send later div -hidden -->
    <div id="send_later_div_<%= p[:product_id]%>" style="display:none;">
      <p>Select the Future Date of sending this Recommendation </p>
      <p class="text-info"><small>not more than 30days</small></p>

         <div class="input-group">
                       <input type="text"  name="send_later_datetime"  class="send_later_datetime" >
                         <p id="send_later_datetime_error_<%= p[:product_id]%>" class="send_later_datetime_error"></p>
                    </div>

    </div>


                 
                <input type="submit" name="submit" id="submit" value="Send" class="btn btn-info">
<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
 

        <%end%>
      </div> <!-- model body ends -->
    </div>
  </div>
</div>


  <%end%>

  </div>


  <%else%>
  <p>Nothing found,Search again.</p>
  <%end%>

</div>

<script type="text/javascript">
$(function(){


$(".send_later").click(function(){
  var rel=$(this).data("rel");

$("#send_later_div_"+rel).toggle();


})//method ends

var startDate;
var currentDate= new Date(); 
var maxdate = new Date(currentDate); 
//not more than 30days
maxdate.setDate(currentDate.getDate() + 30)
  $(document).on('focusin', '.send_later_datetime', function(){
      $(this).datetimepicker({
                    timepicker:false,
                    autodateOnStart: true,
                     closeOnDateSelect:true,
                     closeOnTimeSelect: true,
                     initTime: false,
                     theme:'dark',
                     format: 'd/m/Y',
                     minDate: 0,
                     maxDate:maxdate,
                     onChangeDateTime: function(dp,$input){
                               startDate = $(".send_later_datetime").val();
                                                           }
  
      });
    });


})//document ends

</script>

   

     